


<label style="width:90%;">Q{{questionNo}}:{{questionSentence}}</label>
<br><br>
<button class="button" (click)="onClick1()" style="width:90%;">{{answerSentence1}}</button>
<br>
<button class="button" (click)="onClick2()"style="width:90%;">{{answerSentence2}}</button>
<br>
<button class="button" (click)="onClick3()"style="width:90%;">{{answerSentence3}}</button>
<br>
<button class="button" (click)="onClick4()"style="width:90%;">{{answerSentence4}}</button>
<br>
<button (click)="onClickMe()">デバッグ用</button>
<br>
<a href="/angular-cli-test/tbtb" class="btn-square-shadow"style="width:30%;">はじめから</a>


